<tr>
<td>
    {{id}}
</td>
<td>
    {{application_name}}
</td>
<td>
    {{username}}
</td>
<td>
    {{password}}
</td>
{{!-- For future development
<td>
    <i class="far fa-copy"></i>
    <i class="far fa-edit"></i>
</td> --}}
</tr>